{%load static%}
<!DOCTYPE html>
<html>
<head>
  <title>Search Car Page</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+sins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
</head>
<body>
  
    <h2>Available cars</h2>
    <div class="featured">
      
      <ul>
        
         <li>
          <img src="{% static 'images/car1.jpg' %}">
          <h3>Hyundai santa fe sport</h3>
          <div class="car-price">
            <span class="amount">1100</span>
            <span class="currency">/-</span>
            <span class="period">per day</span>
            <a class="button" href='/cart/'>book now</a>
          </div>
          
        </li>
        <li>
          <img src="{% static 'images/car2.jpg' %}">
          <h3>Ertiga</h3>
          <div class="car-price">
            <span class="amount">1200</span>
            <span class="currency">/-</span>
            <span class="period">per day</span>
            <a class="button" href='/cart/'>book now</a>
          </div>
        </li>
        <li>
          <img src="{% static 'images/car3.jpg' %}">
          <h3>Hyundai creata</h3>
          <div class="car-price">
            <span class="amount">1000</span>
            <span class="currency">/-</span>
            <span class="period">per day</span>
            <a class="button" href='/cart/'>book now</a>
          </div>
        </li>
        <li>
          <img src="{% static 'images/Car04.jpg' %}">
          <h3>wagonr</h3>
          <div class="car-price">
            <span class="amount">1100</span>
            <span class="currency">/-</span>
            <span class="period">per day</span>
            <a class="button" href='/cart/'>book now</a>
          </div>
          
        </li>
        <li>
          <img src="{% static 'images/car4.jpg' %}">
          <h3>Hyundai i10</h3>
          <div class="car-price">
            <span class="amount">1200</span>
            <span class="currency">/-</span>
            <span class="period">per day</span>
            <a class="button" href='/cart/'>book now</a>
          </div>
        </li>
        <li>
          <img src="{% static 'images/car5.jpg' %}">
          <h3>Nissan AK13</h3>
          <div class="car-price">
            <span class="amount">1000</span>
            <span class="currency">/-</span>
            <span class="period">per day</span>
            <a class="button" href='/cart/'>book now</a>
          </div>
        </li>
        <li>
          <img src="{% static 'images/car6.png' %}">
          <h3>Honda fit</h3>
          <div class="car-price">
            <span class="amount">1100</span>
            <span class="currency">/-</span>
            <span class="period">per day</span>
            <a class="button" href='/cart/'>book now</a>
          </div>
          
        </li>
        <li>
          <img src="{% static 'images/car7.png' %}">
          <h3>Hyundai i20</h3>
          <div class="car-price">
            <span class="amount">1200</span>
            <span class="currency">/-</span>
            <span class="period">per day</span>
            <a class="button" href='/cart/'>book now</a>
          </div>
        </li>
        <li>
          <img src="{% static 'images/car8.png' %}">
          <h3>Swift</h3>
          <div class="car-price">
            <span class="amount">1000</span>
            <span class="currency">/-</span>
            <span class="period">per day</span>
            <a class="button" href='/cart/'>book now</a>
          </div>
        </li>
        <li>
          <img src="{% static 'images/car9.jpg' %}">
          <h3>Kia seltos</h3>
          <div class="car-price">
            <span class="amount">1100</span>
            <span class="currency">/-</span>
            <span class="period">per day</span>
            <a class="button" href='/cart/'>book now</a>
          </div>
          
        </li>
        <li>
          <img src="{% static 'images/car10.png' %}">
          <h3>Toyota innova crysta</h3>
          <div class="car-price">
            <span class="amount">1200</span>
            <span class="currency">/-</span>
            <span class="period">per day</span>
            <a class="button" href='/cart/'>book now</a>
          </div>
        </li>
        <li>
          <img src="{% static 'images/car11.jpg' %}">
          <h3>Grand i1o NIOS</h3>
          <div class="car-price">
            <span class="amount">1000</span>
            <span class="currency">/-</span>
            <span class="period">per day</span>
            <a class="button" href='/cart/'>book now</a>
          </div>
        </li>
      </ul>
    </div>
  </body>
  </html>
  
  
