{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">

</head>
<body>
 
    <h3>Create your 
        <br><span>account!</span></h3>
          
        <div class="wrapper">
            <h1>sign up</h1>
            <div class="form-container">
                
                  
    <form method="post" action="/signup/">
        {% csrf_token %}
        <div class="">
            <label for="username">Username</label>
            <input type="text"  id="username" name="username" placeholder="Create A Username (use only letters and numbers)" Required>
        </div>
        <div class="">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter Your Email Address" Required>
        </div>
        <div class="">
            <label for="password1">Password</label>
            <input type="password" id="password1" name="password1" placeholder="Create Your Password" Required>
        </div>
        <div class="">
            <label for="password2">Confirm Password</label>
            <input type="password" id="password2" name="password2" placeholder="Confirm Your Password" Required>
        </div>
    </div>
      <div class="terms">
        <input type="checkbox" id="checkbox">
        <label for="checkbox">I agree to these<a href="#">Terms & Conditions</a></label>
    </div>
    
    <button type="submit">Sign Up</button>
    <div class="member">
        Already a member?<a href="/signin/">Login Here</a>
    </div>
</form>
</body>
</html>